<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="Conn" connectionString="Data Source=(local);Initial Catalog=AulaVirtual;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

</configuration>